*{
    margin: 0;
    padding: 0;   
    
}



table{
    width: 90%;
    margin: 0 auto;
    border-collapse: collapse;
    
}

th{
    border: none;
    border-radius: 10px 10px 0 0;
    background-color:  rgb(13, 206, 13);    
    color:  white;
    font-size: 1.2em;
}

td{
    border: 1px solid  rgb(13, 206, 13);
    border-collapse: collapse;
    text-align: center;
    padding: 5px 0;
}



#topo{
    background-color: rgb(13, 206, 13);
    height: 50px;
    color:white;
    font-family: 'Courier New', Courier, monospace;
    font-size: 3em;
    display: flex;
}

#menu{
    line-height: 50px;
    margin-left: auto;
    font-size: 0.5em;
}

#menu ul{
    list-style: none;    
}

#menu li{
    display: inline-block;      
}

#menu a{    
    color: white;
    display: inline-block;   
    padding: 0 15px;
    text-decoration: none;
}

#menu a:hover{
    background-color: white;
    color: rgb(13, 206, 13);
}


body{    
    //background-image: url("fundo.jpg");
}

#body{
    width: 90%;
    margin: 30px auto;
    display: flex;
    justify-content: center; /* align horizontal */
    align-items: center; /* align vertical */
}

#container{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}


#container fieldset{
    text-align: center;
    width: 300px;
}

#container legend{
    font-size: 1.5em;
    margin-bottom: 10px;
    color: green;
}


.conteudo{
    width: 294px;
    height: 251px;
    margin-bottom: 50px;
    background-image: url('janela.png');  
}

.topo-conteudo{
    display: flex;
}

.topo-conteudo button{
    margin-left: auto;
    margin-right: 2px;
}

.corpo-conteudo{
    padding-top:30px; 
}
.corpo-conteudo span{
    display: inline-block;
    margin-bottom: 40px;
}



#mins{
    border: 2px solid rgb(71, 71, 71);
}

.adicionar{
    background-color:  rgb(13, 206, 13);
    border: 2px solid rgb(71, 71, 71);
    padding: 2px;
    color: white;
}

.adicionar:hover{
    cursor: pointer;
}

.bt-grande{
    font-size: 2.5em;
    margin-top: 200px; 
}

#entrar{
    margin-bottom: 10px;
}

.small{
    width: 20%;
}


